SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0058", ATTRS{serial}=="7DEC9EA251514A4E414B2020FF0E124E", SYMLINK+="de15_meter", MODE="0666"
